<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>{% block title %}Meeting Booking {% endblock title %}</title>
    
    <link

        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"

        rel="stylesheet"

    >
    <style>
body {background-color: #87CEEB;}
</style>

</head>

<body class="container">

{% block page_content %}
<h1>{{ data.title }}</h1>
<div class="row">

    <div class="col-md-4">
        <h5>Meeting Details:</h5>
        <p>{{ data.description }}</p>
        <br>
        <h5>Meeting Status:</h5>
        <p>{{ data.status }}</p>
    </div>
    <a class="btn btn-success" href="{% url 'updatemeeting' data.id %}">Update</a>
    <a class="btn btn-success" href="{% url 'deletemeeting' data.id %}">Delete</a>
</div>
{% endblock page_content %}


</body>

</html>
